textarea {
    width: 100%;
    font-size: 0.875rem;
    color: #999999;
    background-color: rgba($color: #999999, $alpha: 0.1);
    // background-color: rgba($color: $myBackgroundColor, $alpha: 0.3);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 8px;
}
